Mudanças:
*Na relação filmes, adicionamos a coluna title, runtime, popularity, status, revenue, spoken_languages, release_date

In [1]:
import pandas as pd

In [2]:
movies_metadata = pd.read_csv('moviesdt/movies_metadata.csv')

C:\Users\raisa\AppData\Local\Temp\ipykernel_10724\3186372083.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_metadata = pd.read_csv('moviesdt/movies_metadata.csv')

In [3]:
filmes = movies_metadata

# Na relação filmes, mudar os atributos para os listados abaixo

In [4]:
colunas_filmes = ['id', 'homepage', 'adult', 'budget', 'original_language', 'original_title', 'title', 'overview','runtime', 'popularity', 'status', 'revenue', 'spoken_languages', 'release_date' ,'id_coletanea'] #colunas que teremos no novo dataset e não precisam ser tratadas

In [5]:
list(set(filmes.columns) - set(colunas_filmes))

['status',
 'vote_count',
 'popularity',
 'poster_path',
 'production_countries',
 'production_companies',
 'vote_average',
 'runtime',
 'belongs_to_collection',
 'revenue',
 'spoken_languages',
 'release_date',
 'tagline',
 'imdb_id',
 'genres',
 'video']

In [6]:
for coluna in list(set(filmes.columns) - set(colunas_filmes)):
        filmes = filmes.drop(coluna, axis = 1)

In [7]:
filmes['id_coletanea'] = movies_metadata['belongs_to_collection']

In [8]:
filmes = filmes.reindex(columns=['id', 'title', 'homepage', 'adult', 'budget', 'original_language', 'original_title', 'overview', 'id_coletanea'])

In [9]:
filmes

,id,title,homepage,adult,budget,original_language,original_title,overview,id_coletanea
0,862,Toy Story,http://toystory.disney.com/toy-story,False,30000000,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...","{'id': 10194, 'name': 'Toy Story Collection', ..."
1,8844,Jumanji,NaN,False,65000000,en,Jumanji,When siblings Judy and Peter discover an encha...,NaN
2,15602,Grumpier Old Men,NaN,False,0,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,"{'id': 119050, 'name': 'Grumpy Old Men Collect..."
3,31357,Waiting to Exhale,NaN,False,16000000,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",NaN
4,11862,Father of the Bride Part II,NaN,False,0,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,"{'id': 96871, 'name': 'Father of the Bride Col..."
...,...,...,...,...,...,...,...,...,...
45461,439050,Subdue,http://www.imdb.com/title/tt6209470/,False,0,fa,رگ خواب,Rising and falling between a man and woman.,NaN
45462,111109,Century of Birthing,NaN,False,0,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,NaN
45463,67758,Betrayal,NaN,False,0,en,Betrayal,"When one of her hits goes wrong, a professiona...",NaN
45464,227506,Satan Triumphant,NaN,False,0,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",NaN
45465,461257,Queerama,NaN,False,0,en,Queerama,50 years after decriminalisation of homosexual...,NaN

In [10]:
filmes['id_coletanea']

0        {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                      NaN
2        {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                      NaN
4        {'id': 96871, 'name': 'Father of the Bride Col...
                               ...
45461                                                  NaN
45462                                                  NaN
45463                                                  NaN
45464                                                  NaN
45465                                                  NaN
Name: id_coletanea, Length: 45466, dtype: object