Mudanças:
*Na relação filmes, adicionamos a coluna title, runtime, popularity, status, revenue, release_date

In [11]:
import pandas as pd

# Relação filmes

In [12]:
movies_metadata = pd.read_csv('moviesdt/movies_metadata.csv')
credits = pd.read_csv('moviesdt/credits.csv')
ratings = pd.read_csv('moviesdt/ratings.csv')
keywords = pd.read_csv('moviesdt/keywords.csv')

In [13]:
filmes = movies_metadata

### Na relação filmes, mudar os atributos para os listados abaixo

In [14]:
colunas_filmes = ['id', 'homepage', 'adult', 'budget', 'original_language', 'original_title', 'overview', 'id_coletanea', 'title', 'runtime', 'popularity', 'revenue', 'release_date', 'status'] #colunas que teremos no novo dataset e não precisam ser tratadas

In [15]:
list(set(filmes.columns) - set(colunas_filmes))

['vote_count',
 'production_companies',
 'production_countries',
 'tagline',
 'genres',
 'vote_average',
 'belongs_to_collection',
 'video',
 'imdb_id',
 'spoken_languages',
 'poster_path']

In [16]:
for coluna in list(set(filmes.columns) - set(colunas_filmes)):
        filmes = filmes.drop(coluna, axis = 1)

In [17]:
filmes['id_coletanea'] = movies_metadata['belongs_to_collection']

In [18]:
filmes = filmes.reindex(columns=['id', 'title', 'homepage', 'adult', 'budget', 'original_language', 'original_title', 'overview', 'id_coletanea'])

In [ ]:
ids_colet = []

for coletanea in filmes['id_coletanea']:
    if isinstance(coletanea, str) and coletanea[0] == '{':
        ids_colet.append(int(eval(coletanea)['id']))
        break
    else:
        ids_colet.append(None)
        break

print(ids_colet)
filmes['id_coletanea'] = ids_colet

In [20]:
filmes

,id,title,homepage,adult,budget,original_language,original_title,overview,id_coletanea
0,862,Toy Story,http://toystory.disney.com/toy-story,False,30000000,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",10194.0
1,8844,Jumanji,NaN,False,65000000,en,Jumanji,When siblings Judy and Peter discover an encha...,NaN
2,15602,Grumpier Old Men,NaN,False,0,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,119050.0
3,31357,Waiting to Exhale,NaN,False,16000000,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",NaN
4,11862,Father of the Bride Part II,NaN,False,0,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,96871.0
5,949,Heat,NaN,False,60000000,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",NaN
6,11860,Sabrina,NaN,False,58000000,en,Sabrina,An ugly duckling having undergone a remarkable...,NaN
7,45325,Tom and Huck,NaN,False,0,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",NaN
8,9091,Sudden Death,NaN,False,35000000,en,Sudden Death,International action superstar Jean Claude Van...,NaN
9,710,GoldenEye,http://www.mgm.com/view/movie/757/Goldeneye/,False,58000000,en,GoldenEye,James Bond must unmask the mysterious head of ...,645.0
10,9087,The American President,NaN,False,62000000,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",NaN
11,12110,Dracula: Dead and Loving It,NaN,False,0,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,NaN
12,21032,Balto,NaN,False,0,en,Balto,An outcast half-wolf risks his life to prevent...,117693.0
13,10858,Nixon,NaN,False,44000000,en,Nixon,An all-star cast powers this epic look at Amer...,NaN
14,1408,Cutthroat Island,NaN,False,98000000,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",NaN
15,524,Casino,NaN,False,52000000,en,Casino,The life of the gambling paradise – Las Vegas ...,NaN
16,4584,Sense and Sensibility,NaN,False,16500000,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",NaN
17,5,Four Rooms,NaN,False,4000000,en,Four Rooms,It's Ted the Bellhop's first night on the job....,NaN
18,9273,Ace Ventura: When Nature Calls,NaN,False,30000000,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",3167.0
19,11517,Money Train,NaN,False,60000000,en,Money Train,A vengeful New York transit cop decides to ste...,NaN
20,8012,Get Shorty,NaN,False,30250000,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,91698.0
21,1710,Copycat,NaN,False,0,en,Copycat,An agoraphobic psychologist and a female detec...,NaN
22,9691,Assassins,NaN,False,50000000,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,NaN
23,12665,Powder,NaN,False,0,en,Powder,Harassed by classmates who won't accept his sh...,NaN
24,451,Leaving Las Vegas,http://www.mgm.com/title_title.do?title_star=L...,False,3600000,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",NaN
25,16420,Othello,NaN,False,0,en,Othello,The evil Iago pretends to be friend of Othello...,NaN
26,9263,Now and Then,NaN,False,12000000,en,Now and Then,Waxing nostalgic about the bittersweet passage...,NaN
27,17015,Persuasion,NaN,False,0,en,Persuasion,This film adaptation of Jane Austen's last nov...,NaN
28,902,The City of Lost Children,NaN,False,18000000,fr,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,NaN
29,37557,Shanghai Triad,NaN,False,0,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,NaN
...,...,...,...,...,...,...,...,...,...
45436,45527,The Final Storm,NaN,False,0,en,The Final Storm,A stranger named Silas flees from a devastatin...,NaN
45437,455661,In a Heartbeat,NaN,False,0,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,NaN
45438,327237,"Blood, Sweat and Tears",NaN,False,0,nl,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",NaN
45439,84710,Jungle Woman,NaN,False,0,en,Jungle Woman,Paula the ape woman (Acquanetta) is alive and ...,NaN
45440,39562,To Be Fat Like Me,NaN,False,0,en,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",NaN
45441,14008,Cadet Kelly,NaN,False,0,en,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,NaN
45442,44330,The Scheming Gambler's Paradise,NaN,False,0,en,Le tripot clandestin,A combination gambling den and bawdy house is ...,NaN
45443,49279,The Man with the Rubber Head,NaN,False,0,fr,L'Homme à la tête de caoutchouc,A chemist in his laboratory places upon a tabl...,NaN
45444,44333,The Living Playing Cards,NaN,False,0,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,NaN
45445,49277,The Hilarious Posters,NaN,False,0,en,Les affiches en goguette,A wall full of advertising posters comes to life.,NaN
45446,49271,The Devilish Tenant,NaN,False,0,en,Le locataire diabolique,A man rents an apartment and furnishes it in r...,NaN
45447,44324,The Untameable Whiskers,NaN,False,0,fr,Le Roi du maquillage,The background of this picture represents a sc...,NaN
45448,122036,The Imperceptable Transmutations,NaN,False,0,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,NaN
45449,14885,Pooh's Heffalump Halloween Movie,NaN,False,0,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",NaN
45450,49280,The One-Man Band,NaN,False,0,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,NaN
45451,106807,The Fat and Lean Wrestling Match,NaN,False,0,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,NaN
45452,276895,Deep Hearts,NaN,False,0,en,Deep Hearts,"Deep Hearts is a film about the Bororo Fulani,...",NaN
45453,404604,Mom,NaN,False,0,hi,Maa,The bliss of a biology teacher’s family life i...,NaN
45454,420346,The Morning After,NaN,False,0,en,The Morning After,The Morning After is a feature film that consi...,NaN
45455,67179,St. Michael Had a Rooster,NaN,False,0,it,San Michele aveva un gallo,Sentenced to life imprisonment for illegal act...,NaN
45456,84419,House of Horrors,NaN,False,0,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,NaN
45457,390959,Shadow of the Blair Witch,NaN,False,0,en,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",NaN
45458,289923,The Burkittsville 7,NaN,False,0,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,NaN
45459,222848,Caged Heat 3000,NaN,False,0,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,NaN
45460,30840,Robin Hood,NaN,False,0,en,Robin Hood,"Yet another version of the classic epic, with ...",NaN
45461,439050,Subdue,http://www.imdb.com/title/tt6209470/,False,0,fa,رگ خواب,Rising and falling between a man and woman.,NaN
45462,111109,Century of Birthing,NaN,False,0,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,NaN
45463,67758,Betrayal,NaN,False,0,en,Betrayal,"When one of her hits goes wrong, a professiona...",NaN
45464,227506,Satan Triumphant,NaN,False,0,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",NaN
45465,461257,Queerama,NaN,False,0,en,Queerama,50 years after decriminalisation of homosexual...,NaN

### Tabela coletânea

In [21]:
#coletaneasDf
idsColet = []
nomesColet = []
for linha in filmes['id_coletanea']:
    if not isinstance(linha, str):
        continue
    x = eval(linha)
    if not isinstance(x, dict):
        continue
    id = x.get('id')
    if id not in idsColet:
        idsColet.append(id)
        nomesColet.append(x.get('name'))
            
coletaneas = {'id': idsColet, 'nome': nomesColet}
coletaneasDf = pd.DataFrame.from_dict(coletaneas)

In [22]:
coletaneasDf

Empty DataFrame
Columns: [id, nome]
Index: []

### Tabela Pessoa

In [23]:
idPessoa = []
nomesPessoas = []
generosPessoas = []

idsVistos= set()

for indice, linha in credits.iterrows():
    elenco = eval(linha['cast'])
    equipe = eval(linha['crew'])
    for papel in elenco:
        if papel['id'] not in idsVistos:
            idsVistos.add(papel['id'])
            idPessoa.append(papel['id'])
            nomesPessoas.append(papel['name'])
            generosPessoas.append(papel['gender'])
    
    for membro in equipe:
        if membro['id'] not in idsVistos:
            idsVistos.add(membro['id'])
            idPessoa.append(membro['id'])
            nomesPessoas.append(membro['name'])
            generosPessoas.append(membro['gender'])


pessoas = {'id': idPessoa, 'nome': nomesPessoas, 'genero': generosPessoas}
pessoasDf = pd.DataFrame.from_dict(pessoas)

In [24]:
pessoasDf

             id                  nome  genero
0            31             Tom Hanks       2
1         12898             Tim Allen       2
2          7167           Don Rickles       2
3         12899            Jim Varney       2
4         12900         Wallace Shawn       2
5          7907     John Ratzenberger       2
6          8873           Annie Potts       1
7       1116442           John Morris       0
8         12901       Erik von Detten       2
9         12133        Laurie Metcalf       1
10         8655          R. Lee Ermey       2
11        12903         Sarah Freeman       1
12        37221         Penn Jillette       2
13         7879         John Lasseter       2
14        12891           Joss Whedon       2
15            7        Andrew Stanton       2
16        12892            Joel Cohen       2
17        12893          Alec Sokolow       0
18        12894         Bonnie Arnold       1
19        12895            Ed Catmull       0
20        12896      Ralph Guggenheim       2
21        12897            Steve Jobs       2
22            8           Lee Unkrich       2
23         7883       Ralph Eggleston       2
24      1168870         Robert Gordon       2
25      1552883    Mary Helen Leasman       0
26      1453514        Kim Blanchette       0
27      1414182      Marilyn McCoppen       0
28         7885          Randy Newman       2
29      1429549         Dale E. Grahn       0
...         ...                   ...     ...
353313  1599748        James Grossman       0
353314  1359316         David Grammer       0
353315   929095             Kena Land       0
353316  1208287         Zaneta Polard       0
353317  1185775    Robert J. Ferrelli       0
353318  1612477  Ellyn Dawn Humphreys       0
353319  1632406          Emile Dupont       0
353320  1632407     Felix Chamberlain       0
353321  1471628           Sam Resnick       0
353322  1020779           Jason Lehel       0
353323  1749839        Kourosh Tahami       0
353324  1619957           Elham Korda       0
353325  1182809      Hamid Nematollah       0
353326  1543705     Farshad Mohammadi       0
353327  1749842        Masoumeh Bayat       0
353328  1749847           Mehdi Saadi       0
353329  1749860         Babak Ardalan       0
353330  1749861         Azadeh Ghavam       0
353331  1749862         Sahand Torabi       0
353332  1749863    Homayoun Shajarian       0
353333  1042953         Bart Guingona       0
353334  1184497                Roeder       0
353335  1728582           Dante Perez       0
353336  1485780       Betty Uy-Regala       0
353337  1801183               Modesta       0
353338   169498       Jeremy Lelliott       2
353339  1177500         Jason Widener       0
353340    93930        Kiko Ellsworth       2
353341  1261758     Aleksandr Chabrov       0
353342  1344495         Daisy Asquith       0

[353343 rows x 3 columns]

### Tabela Atuação

In [25]:
#atuacoesDf
id_filmeAtuacoes = []
id_atorAtuacoes = []
nomesPersonagens = []

for indice, linha in credits.iterrows():
    elenco = eval(linha['cast'])
    for papel in elenco:
        id_atorAtuacoes.append(papel['id'])
        id_filmeAtuacoes.append(linha['id'])
        nomesPersonagens.append(papel['character'])

atuacoes = {'id_movie': id_filmeAtuacoes, 'id_ator': id_atorAtuacoes, 'personagem': nomesPersonagens}
atuacoesDf = pd.DataFrame.from_dict(atuacoes)

In [26]:
atuacoesDf

        id_movie  id_ator                      personagem
0            862       31                   Woody (voice)
1            862    12898          Buzz Lightyear (voice)
2            862     7167         Mr. Potato Head (voice)
3            862    12899              Slinky Dog (voice)
4            862    12900                     Rex (voice)
5            862     7907                    Hamm (voice)
6            862     8873                 Bo Peep (voice)
7            862  1116442                    Andy (voice)
8            862    12901                     Sid (voice)
9            862    12133              Mrs. Davis (voice)
10           862     8655                Sergeant (voice)
11           862    12903                  Hannah (voice)
12           862    37221            TV Announcer (voice)
13          8844     2157                    Alan Parrish
14          8844     8537  Samuel Alan Parrish / Van Pelt
15          8844      205                    Judy Sheperd
16          8844   145151                  Peter Shepherd
17          8844     5149                   Sarah Whittle
18          8844    10739                   Nora Shepherd
19          8844    58563                    Carl Bentley
20          8844     1276              Carol Anne Parrish
21          8844    46530            Alan Parrish (young)
22          8844    56523           Sarah Whittle (young)
23          8844    51551                    Exterminator
24          8844    56522         Mrs. Thomas the Realtor
25          8844  1000304                        Benjamin
26          8844   188949                           Caleb
27          8844  1076551                    Billy Jessup
28          8844  1480246                             Cop
29          8844    25024                             Bum
...          ...      ...                             ...
562444    111109   111636                           Homer
562445    111109  1204271              Crazy Woman/Virgin
562446    111109   278923                  Amang Tiburcio
562447    111109  1042953                Ex-convict/Dindo
562448    111109   575774                     Philosopher
562449    111109  1184497                    Photographer
562450    111109   462483           Ana/Call Center Woman
562451    111109  1728582               Filmmaker/Butcher
562452    111109  1485780                Poet of the Rain
562453    111109  1801183                  Homer's mother
562454     67758    23764                      Emily Shaw
562455     67758     2059               Det. Mark Winston
562456     67758    46277                     Jayne Ferré
562457     67758     1736                      Alex Tyler
562458     67758    58646                            Tony
562459     67758    54649                    Frank Bianci
562460     67758    55270                  Detective Stan
562461     67758   169498                      Kerry Shaw
562462     67758    51656                     Peter Quinn
562463     67758  1177500                            Boyd
562464     67758   154762                   Sammy Benetto
562465     67758    93930                           Steve
562466     67758    81690                            Fred
562467     67758    37822                Artie, Hitman #1
562468     67758  1686379                         Doorman
562469    227506   544742
562470    227506  1090923
562471    227506  1136422
562472    227506  1261758
562473    227506    29199

[562474 rows x 3 columns]

### Tabela Producao

In [27]:
#producoesDf
id_produtores = []
id_filmes = []
deptosProdutores = []
jobsProdutores = []

for indice, linha in credits.iterrows():
    elenco = eval(linha['crew'])
    for membro in elenco:
        id_produtores.append(membro['id'])
        id_filmes.append(linha['id'])
        deptosProdutores.append(membro['department'])
        jobsProdutores.append(membro['job'])
        
producoes = {'id_produtor': id_produtores, 'id_filme': id_filmes, 'job': jobsProdutores, 'department': deptosProdutores}
producoesDf = pd.DataFrame.from_dict(producoes)

In [28]:
producoesDf

        id_produtor  id_filme                         job         department
0              7879       862                    Director          Directing
1             12891       862                  Screenplay            Writing
2                 7       862                  Screenplay            Writing
3             12892       862                  Screenplay            Writing
4             12893       862                  Screenplay            Writing
5             12894       862                    Producer         Production
6             12895       862          Executive Producer         Production
7             12896       862                    Producer         Production
8             12897       862          Executive Producer         Production
9                 8       862                      Editor            Editing
10             7883       862               Art Direction                Art
11          1168870       862                      Editor            Editing
12          1552883       862                Foley Editor              Sound
13          1453514       862                   Animation     Visual Effects
14          1414182       862                  ADR Editor              Sound
15             7885       862                Orchestrator              Sound
16          1429549       862                 Color Timer            Editing
17             7949       862                  CG Painter     Visual Effects
18             7879       862              Original Story            Writing
19            12890       862              Original Story            Writing
20             7911       862              Original Story            Writing
21          1629419       862  Post Production Supervisor               Crew
22             7961       862                    Sculptor                Art
23            12905       862          Animation Director     Visual Effects
24             7885       862                       Music              Sound
25          1748707       862                      Layout          Directing
26             4949       862                Orchestrator              Sound
27          1372885       862                Music Editor              Sound
28          1739962       862             Negative Cutter            Editing
29          1748513       862             Negative Cutter            Editing
...             ...       ...                         ...                ...
464284        39812     30840                      Writer            Writing
464285      1471628     30840                       Story            Writing
464286        18073     30840                    Producer         Production
464287        10716     30840                       Music              Sound
464288      1020779     30840     Director of Photography             Camera
464289        66105     30840                      Editor            Editing
464290         1302     30840                     Casting         Production
464291      1182809    439050                    Director          Directing
464292      1182809    439050                    Producer         Production
464293      1543705    439050           Camera Supervisor             Camera
464294      1749842    439050                      Script               Crew
464295      1749847    439050                      Editor            Editing
464296      1749860    439050              Sound Director              Sound
464297      1749861    439050              Costume Design  Costume & Make-Up
464298      1749862    439050             Makeup Designer  Costume & Make-Up
464299      1749863    439050                       Songs              Sound
464300      1051381    111109                    Director          Directing
464301      1051381    111109                      Writer            Writing
464302      1728582    111109           Production Design                Art
464303      1051381    111109                       Music              Sound
464304      1051381    111109                      Editor            Editing
464305      1051381    111109              Cinematography               Crew
464306        67753     67758                    Director          Directing
464307        19713     67758                  Screenplay            Writing
464308       549355     67758                  Screenplay            Writing
464309       549356     67758     Original Music Composer              Sound
464310        58818     67758     Director of Photography             Camera
464311      1085341    227506                    Director          Directing
464312      1195656    227506                    Producer         Production
464313      1344495    461257                    Director          Directing

[464314 rows x 4 columns]

### Tabela Avaliacao

In [ ]:
#avaliacoesDf
movie_ids = []
notas = []
timestamps = []

for indice, linha in ratings.iterrows():
    movie_ids.append(int(linha['movieId']))
    notas.append(linha['rating'])
    timestamps.append(int(linha['timestamp']))

avaliacoes = {'id_movie': movie_ids, 'rating': notas, 'timestamp': timestamps}
avaliacoesDf = pd.DataFrame.from_dict(avaliacoes)

In [ ]:
avaliacoesDf

### Tabela KeyWords

In [ ]:
id_filmes = []
palavras = []

for indice, linha in keywords.iterrows():
    objeto = eval(linha['keywords'])
    for palavra in objeto:
        id_filmes.append(linha['id'])
        palavras.append(palavra['name'])

keywords = {'id_movie': id_filmes, 'keyword': palavras}
keywordsDf = pd.DataFrame.from_dict(keywords)

In [ ]:
keywordsDf

### Tabela Genero

In [ ]:
#generosDf
genVistos = set()

nomesGeneros = []
idGeneros = []

for indice, linha in movies_metadata.iterrows():
    gens = eval(linha['genres'])
    for genero in gens:
        if genero['name'] in genVistos:
            continue
        genVistos.add(genero['name'])
        nomesGeneros.append(genero['name'])
        idGeneros.append(genero['id'])

generos = {'id': idGeneros, 'nome': nomesGeneros}
generosDf = pd.DataFrame.from_dict(generos)

In [ ]:
generosDf

### Tabela genero_filme

In [ ]:
id_filmes = []
id_generos = []

for indice, linha in movies_metadata.iterrows():
    gens = eval(linha['genres'])
    for genero in gens:
        id_filmes.append(linha['id'])
        id_generos.append(genero['id'])

generoFilme = {'id_movie': id_filmes, 'id_genero': id_generos}
generoFilmeDf = pd.DataFrame.from_dict(generoFilme)

In [ ]:
generoFilmeDf

### Testes

In [ ]:
for col in filmes:
    print(col)

In [ ]:
filmes

In [ ]:
#filmes
#coletaneasDf
#atoresDf
#atuacoesDf
#produtoresDf
#producoesDf
#avaliacoesDf
#keyWordsDf
#generosDf
#genero_filmeDf

In [ ]:
### TODO: Corrigir a coluna id_coletanea em filmes