Mudanças:
*Na relação filmes, adicionamos a coluna title, runtime, popularity, status, revenue, release_date

In [1]:
import pandas as pd

# Relação filmes

In [88]:
movies_metadata = pd.read_csv('moviesdt/movies_metadata.csv')
credits = pd.read_csv('moviesdt/credits.csv')

C:\Users\raisa\AppData\Local\Temp\ipykernel_12892\3982479452.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_metadata = pd.read_csv('moviesdt/movies_metadata.csv')

In [20]:
filmes = movies_metadata

### Na relação filmes, mudar os atributos para os listados abaixo

In [21]:
colunas_filmes = ['id', 'homepage', 'adult', 'budget', 'original_language', 'original_title', 'title', 'overview','runtime', 'popularity', 'status', 'revenue', 'release_date' ,'id_coletanea'] #colunas que teremos no novo dataset e não precisam ser tratadas

In [22]:
list(set(filmes.columns) - set(colunas_filmes))

['vote_average',
 'imdb_id',
 'video',
 'production_countries',
 'genres',
 'tagline',
 'production_companies',
 'spoken_languages',
 'belongs_to_collection',
 'poster_path',
 'vote_count']

In [23]:
for coluna in list(set(filmes.columns) - set(colunas_filmes)):
        filmes = filmes.drop(coluna, axis = 1)

In [41]:
filmes['id_coletanea'] = movies_metadata['belongs_to_collection']

In [42]:
filmes = filmes.reindex(columns=['id', 'title', 'homepage', 'adult', 'budget', 'original_language', 'original_title', 'overview', 'id_coletanea'])

### Tabela coletânea

In [86]:
idsColet = []
nomesColet = []
for linha in filmes['id_coletanea']:
    if type(linha) == str and linha[0] == '{':
        campos = linha.split(':')
        id = campos[1].split(',')[0]
        if id not in idsColet:
            idsColet.append(id)
            nomesColet.append(campos[2].split(',')[0])
            
coletaneas = {'id': idsColet, 'nome': nomesColet}
coletaneasDf = pd.DataFrame.from_dict(coletaneas)

In [87]:
coletaneasDf

           id                               nome
0       10194             'Toy Story Collection'
1      119050        'Grumpy Old Men Collection'
2       96871   'Father of the Bride Collection'
3         645            'James Bond Collection'
4      117693                 'Balto Collection'
...       ...                                ...
1690   104774   'Tomtar och Trolltyg Collection'
1691   400500        'Чебурашка и крокодил Гена'
1692   148603                'Ducobu Collection'
1693   152918           'Mister Blot Collection'
1694   200641             'Red Lotus Collection'

[1695 rows x 2 columns]

### Tabela ator

In [95]:
for linha in credits:

0        [{'cast_id': 14, 'character': 'Woody (voice)',...
1        [{'cast_id': 1, 'character': 'Alan Parrish', '...
2        [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3        [{'cast_id': 1, 'character': "Savannah 'Vannah...
4        [{'cast_id': 1, 'character': 'George Banks', '...
                               ...
45471    [{'cast_id': 0, 'character': '', 'credit_id': ...
45472    [{'cast_id': 1002, 'character': 'Sister Angela...
45473    [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...
45474    [{'cast_id': 2, 'character': '', 'credit_id': ...
45475                                                   []
Name: cast, Length: 45476, dtype: object

0        [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1        [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2        [{'credit_id': '52fe466a9251416c75077a89', 'de...
3        [{'credit_id': '52fe44779251416c91011acb', 'de...
4        [{'credit_id': '52fe44959251416c75039ed7', 'de...
                               ...
45471    [{'credit_id': '5894a97d925141426c00818c', 'de...
45472    [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...
45473    [{'credit_id': '52fe4776c3a368484e0c8387', 'de...
45474    [{'credit_id': '533bccebc3a36844cf0011a7', 'de...
45475    [{'credit_id': '593e676c92514105b702e68e', 'de...
Name: crew, Length: 45476, dtype: object